<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="iQnUbPvkbNPOfcqUcTMVsz187ZNGj7sz6N9-Ct1Vy8o" />
    <title>Resumated</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #eaecf1; height: 100px;">
    <div class="container">
        <div class="d-flex align-items-center">
            <img src="/static/logo.svg" style="width: 25px; height: 35px;">
            <a class="navbar-brand ms-2" style="font-size: 28px; font-weight: 600; color: #193453;"
               href="{{ url_for('general.home') }}">Resumated</a>
            {% if current_user.is_authenticated and request.endpoint == 'general.home' %}
                <form class="d-flex" style="display: block; margin: auto 0 auto 25px; height: 35px;" method="post"
                      enctype="multipart/form-data">
                    {{ search_form.csrf_token }}
                    {{ search_form.hidden_tag() }}
                    {{ search_form.search(class="form-control me-2", type="search", placeholder="Search") }}
                </form>
            {% endif %}
        </div>

        <div class="d-flex align-items-center">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('general.home') }}" class="btn me-2" style="color: #193453;">Explore</a>
                {% if account_type == '1' %}
                    <div class="dropdown">
                        <a id="navbar" class="btn me-2" style="color: #193453" data-bs-toggle="dropdown"
                           aria-expanded="false">Requests
                            {% if pending_reviews > 0 %}
                                <span class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-danger">
                                    {{ pending_reviews }}
                                </span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" style="margin-top: 10px">
                            <li>
                                <a href={{ url_for('general.requests', type='received') }} class="dropdown-item">Received</a>
                            </li>
                            <li>
                                <a href={{ url_for('general.requests', type='sent') }} class="dropdown-item">Sent</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a class="position-relative btn me-2" href="{{ url_for('general.requests', type='sent') }}" style="color: #193453;">Requests
                    </a>
                {% endif %}
                <div class="dropdown">
                    <a id="navbar" class="btn me-2" style="color: #193453;" data-bs-toggle="dropdown"
                       aria-expanded="false">Documents</a>
                    <ul class="dropdown-menu dropdown-menu-lg-end" style="margin-top: 10px">
                        <li>
                            <a href={{ url_for('general.user_files', username=current_user.username, filter='my-files') }} class="dropdown-item">My
                                Files</a>
                        </li>
                        <li>
                            <a href={{ url_for('general.user_files', username=current_user.username, filter='shared') }} class="dropdown-item">Shared
                                Files</a>
                        </li>
                        <li>
                            <a href={{ url_for('general.user_files', username=current_user.username, filter='archive') }} class="dropdown-item">Archived
                                Files</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a class="me-2" href="#" id="navbarDarkDropdownMenuLink" type="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src={{ pfp_url }} onerror="this.src='/static/default_pfp.jpg'"
                             alt="Generic placeholder image" class="img-fluid rounded-circle"
                             style="width: 40px; z-index: 1">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end" style="margin-top: 10px;">
                        <li>
                            <a href={{ url_for('general.user', username=current_user.username) }} class="dropdown-item">Profile</a>
                        </li>
                        <li>
                            <a href={{ url_for('general.settings', username=current_user.username) }} class="dropdown-item">Settings</a>
                        </li>
                        <hr>
                        <li>
                            <a href={{ url_for('auth.logout') }} class="dropdown-item">Logout</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ url_for('auth.login') }}" style="color: #193453;" class="btn me-2">Login</a>
                <a href="{{ url_for('auth.signup') }}" style="color: #193453;" class="btn me-2">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body class="background-color" style="margin-top: 140px">

{% block content %}


{% endblock %}

{% block scripts %}
    {{ moment.include_moment() }}
{% endblock %}
</body>
</html>

