<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="iQnUbPvkbNPOfcqUcTMVsz187ZNGj7sz6N9-Ct1Vy8o" />
    <title>Resumated</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='light_logo.svg') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #193453; height: 100px;">
    <div class="container">
        <div class="d-flex align-items-center">
            <img src="/static/light_logo.svg" style="width: 25px; height: 35px;">
            <a class="navbar-brand ms-2" style="font-size: 28px;" href="{{ url_for('general.home') }}">Resumated</a>
        </div>
        <div class="d-flex align-items-center">
            <a href="{{ url_for('auth.login') }}" style="color: white;" class="btn me-2">Login</a>
            <a href={{ url_for('auth.signup') }} class="btn" style="background-color: #325b89; color: white;">Sign
                up</a>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body class="background-color" style="margin-top: 100px">

{% block content %}


{% endblock %}

{% block scripts %}
    {{ moment.include_moment() }}
{% endblock %}

</body>
</html>