{% extends "base.html" %}
{% block content %}
    <section class="container-xxl">
        <div class="row text-center">
            {% for user in users %}
                <div class="col-md-3 mb-5 mb-md-0" style="padding:20px;">
                    <div class="card testimonial-card" style="border-radius: 10px;">
                        <div class="card-up" style="background-color: #484e53; border-radius:10px 10px 0px 0px;"></div>
                        <div class="avatar mx-auto bg-white">
                            <a href={{ url_for('user', username=user.username) }}>
                                <img
                                        src="https://pyxis.nymag.com/v1/imgs/37d/875/23ecbc73dc440c7e6616b8fe7567d423f8-05-yourname.rsquare.w700.jpg"
                                        class="rounded-circle img-fluid"
                                />
                            </a>

                        </div>
                        <div class="card-body" style="border-radius: 10px;">
                            <h4> <a class="profile-link" href={{ url_for('user', username=user.username) }}>
                                {{ user.first_name }} {{ user.last_name }}
                            </a></h4>
                            <p class="profile-card-headline mb-4">
                                <a class="profile-link" href={{ url_for('user', username=user.username) }}>{{ user.headline }}</a>
                            </p>
                            <hr />
                            <p class="profile-card-about-me dark-grey-text mt-4">
                                {{ user.about_me }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}