* {
    font-family: "inter", sans-serif !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.form-error-text {
    color: red;
    text-align: left;
    margin-bottom: -15px;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 170px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.profile-link {
    color: black;
    font-weight: 500;
}

.profile-link:link {
    color: black;
    text-decoration: none;
}

.profile-link:hover {
    color: black;
    text-decoration: underline;
}

.profile-card-headline {
    display: block;
    line-height: 1.5rem !important;
    max-height: 3rem;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.profile-headline-link {
    color: #444444;
    text-decoration: none;
    font-weight: 500;
}

.profile-headline-link:hover {
    color: #444444;
    text-decoration: underline;
    font-weight: 500;
}

.profile-card-about-me {
    display: block;
    line-height: 1.5rem !important;
    max-height: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 400;
    color: #616161;
}

.pfp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.home-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: white;
}

.home-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: white;
    margin-top: 45px;
}

.home-section-wrapper {
    width: 100%;
    background-color: #193453;
    text-align: center;
    padding-top: 130px;
    align-content: center;
}

.about-section-wrapper {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 100px;
}

.start-btn {
    font-size: 1rem;
    padding: 15px 40px;
    background-color: white;
    color: #090e34;
    margin-top: 45px;
}

.home-image-container {
    margin-top: 60px;
    align-content: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    align-self: end;
}

.home-image {
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

.section-pre-header {
    color: #193453;
    font-size: 18px;
    font-weight: 600;
}

.section-header {
    font-size: 40px;
    font-weight: 700;
}

.section-sub-header {
    margin: 20px auto;
    font-weight: 400;
    font-size: 18px;
    color: gray;
    max-width: 600px;
}

.feature-card {
    margin: 0px 30px;
}

.feature-card-title {
    font-weight: 700;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.error-code {
    font-weight: 650;
    font-size: 135px;
    line-height: 1.2;
    color: #193453;
    margin: 0 auto 0 auto;
    width: fit-content;
    height:fit-content;
}

.error-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 1.2;
    color: #193453;
    margin: 0 auto 0 auto;
    width: fit-content;
    height:fit-content;
}

.error-subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: black;
    margin: auto;
    width: fit-content;
    height:fit-content;
}

.btn-theme {
    color: #fff;
    background-color: #193453;
    border-color: #193453;
}

.btn-theme:hover{
    color: #FFF;
    background-color: #1f446f;
    border-color: #1f446f;
}

.background-color{
    background-color: #eaecf1;
    border-color: #eaecf1;
}

.big-btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
}

.medium-title {
    font-weight: 600;
    font-size: 32px;
}

.small-title {
    font-weight: 550;
    font-size: 24px;
}

.green-text {
    color: #1db34d;
}

.orange-text {
    color: #ff8181;
}

.red-text {
    color: #d01313;
}

#chat4 .form-control {
    border-color: transparent;
}

#chat4 .form-control:focus  {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.chat-popup {
    z-index: 10;
    width: 380px;
    margin: 25px;
}

.chat-topbar {
    z-index: 10;
    width: 100%;
}

.message-incoming {
    background-color: #eaecf1;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.message-outgoing {
    background-color: #193453;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.message-incoming-timestamp {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
    color: #6c757d;
}

.message-outgoing-timestamp {
    font-size: 14px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #6c757d;
    display: flex;
    justify-content: end;
}

.message-date {
    color: #a2aab7
}