.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.form-error-text {
    color: red;
    text-align: left;
    margin-bottom: -15px;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.profile-link{
    color: black;
}

.profile-link:link {
    color: black;
    text-decoration: none;
}

.profile-link:hover {
    color: black;
    text-decoration: underline;
}

.profile-card-headline {
    color: gray;
    font-weight: 350;
    display: block;
    line-height: 1.5rem !important;
    max-height: 3rem;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.profile-card-about-me {
    display: block;
    line-height: 1.5rem !important;
    max-height: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.pfp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
