* {
    font-family: "inter", sans-serif !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.form-error-text {
    color: red;
    text-align: left;
    margin-bottom: -15px;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.profile-link {
    color: black;
}

.profile-link:link {
    color: black;
    text-decoration: none;
}

.profile-link:hover {
    color: black;
    text-decoration: underline;
}

.profile-card-headline {
    color: gray;
    font-weight: 350;
    display: block;
    line-height: 1.5rem !important;
    max-height: 3rem;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.profile-card-about-me {
    display: block;
    line-height: 1.5rem !important;
    max-height: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.pfp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.home-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: white;
}

.home-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: white;
    margin-top: 45px;
}

.home-section-wrapper {
    width: 100%;
    background-color: #193453;
    text-align: center;
    padding-top: 130px;
    align-content: center;
}

.about-section-wrapper {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 100px;
}

.start-btn {
    font-size: 1rem;
    padding: 15px 40px;
    background-color: white;
    color: #090e34;
    margin-top: 45px;
}

.home-image-container {
    margin-top: 60px;
    align-content: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    align-self: end;
}

.home-image {
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

.section-pre-header {
    color: #193453;
    font-size: 18px;
    font-weight: 600;
}

.section-header {
    font-size: 40px;
    font-weight: 700;
}

.section-sub-header {
    margin: 20px auto;
    font-weight: 400;
    font-size: 18px;
    color: gray;
    max-width: 600px;
}

.feature-card {
    margin: 0px 10px;
}

.feature-card-title {
    font-weight: 700;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.error-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 1.2;
    color: #193453;
    margin: 30vh auto 25px auto;
    width: fit-content;
    height:fit-content;
}

.error-subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: black;
    margin: auto;
    width: fit-content;
    height:fit-content;
}