<div class="container position-fixed bottom-0 end-0 chat-popup">
    <div class="row d-flex justify-content-center">
        <div>

            <!-- Buttons trigger collapse -->
            <button class="btn btn-lg btn-block chat-topbar btn-theme" data-bs-toggle="collapse" href="#collapseExample"
                    role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Messages</span>
                    <i class="bi bi-chevron-compact-down"></i>
                </div>
            </button>

            <div class="collapse" id="collapseExample">
                <div class="card" id="chatbody">
                    <div id="chatbox" class="card-body" data-bs-perfect-scrollbar="true"
                         style="position: relative; height: 400px; overflow-y: scroll;">

                        <div class="d-flex flex-row justify-content-center text-muted py-2">Start of conversation</div>

                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                            <textarea id="text" class="form-control" id="exampleFormControlInput3"
                                      placeholder="Write a message..."></textarea>
                        <a class="ms-3 link-info" href="#!">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#193453"
                                 class="bi bi-send-fill" viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{#<textarea id="chat" cols="80" rows="20"></textarea><br><br>#}
{#<a href="{{ url_for('general.home') }}" onclick="leave_room();">Leave this room</a>#}