{% extends "base.html" %}
{% block content %}

    <div class="ratio ratio-16x9 container-fluid">
        <div class="row">
            <div class="col mx-4 ratio ratio-16x9">
                <div class="ratio ratio-16x9">
                    <iframe src="https://docs.google.com/viewer?url={{ file_url }}&embedded=true"></iframe>
                </div>
            </div>
            <div class="col mx-2">
                {% if owner %}
                    <div class="accordion accordion-flush overflow-auto" style="max-height: 100vh" id="accordionFlushExample">
                        {% for data in feedback_data %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ loop.index }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ loop.index }}" aria-expanded="false" aria-controls="{{ loop.index }}">
                                        <h4>{{ data['name'] }}</h4>
                                    </button>
                                </h2>
                                <div id="accordion-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body overflow-auto" style="max-height: 50vh;"><p>{{ data['feedback'] }}</p></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="fs-3 mt-3 mb-3">Requests</div>
                    <div class="overflow-auto" style="max-height: 15%; background-color: white;">
                        <div class="p-3">
                            {{ requests }}
                        </div>
                    </div>
                    <form class="row g-3" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="col-12" style="height: 90vh">
                            {{ form.review.label(class="fs-3 mt-3 mb-3", style="color: black;") }}
                            {{ form.review(class="form-control", style="height: 80%", placeholder="Leave your feedback here") }}
                            {{ form.submit(class="btn btn-primary mt-3 mb-3", style="width:100%") }}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
