{% extends "base.html" %}
{% block content %}

    <div class="home-section-wrapper">
        <div class="home-title">Document Reviewing Platform</div>
        <br>
        <div class="home-title">for Resumes, Applications, and More</div>
        <div class="home-subtitle">Get personalized feedback from professionals in your industry.</div>
        <a href={{ url_for('auth.signup') }} class="btn start-btn btn-lg">Get Started</a>
        <div class="home-image-container">
            <img class="home-image img-fluid" src="static/home-example.png">
        </div>
    </div>
    <div class="about-section-wrapper">

    </div>

{% endblock %}