{% extends "base.html" %}
{% block content %}

    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body">
                            <h2 class="card-title" style="margin: 25px 0 25px 18px">User Settings</h2>
                            <hr>
                            <form class="row g-3" method="post" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                                <h4>Account Type</h4>
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="form-check form-switch my-4">
                                                {{ form.seller_account(class="form-check-input", type="checkbox", role="switch") }}
                                                {{ form.seller_account.label(class="form-check-label") }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                    aria-expanded="false" aria-controls="flush-collapseTwo">
                                                <h4>Profile Visibility</h4>
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="form-check form-switch mt-4 mb-2">
                                                {{ form.show_profile_views(class="form-check-input", type="checkbox", role="switch") }}
                                                {{ form.show_profile_views.label(class="form-check-label") }}
                                            </div>
                                            <div class="form-check form-switch mt-2 mb-4">
                                                {{ form.show_last_seen(class="form-check-input", type="checkbox", role="switch") }}
                                                {{ form.show_last_seen.label(class="form-check-label") }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form.save(class="btn btn-theme", style="margin: 25px 0 25px 18px") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
