{% extends base %}
{% block content %}
    {% if profile_form %}
        {% for error_type in profile_form.errors %}
            {% for error in profile_form.errors[error_type] %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                         aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card" style="border-radius: 10px;">
                        <div class="text-white d-flex flex-row"
                             style="border-radius: 10px 10px 0px 0px; background-color: #193453; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <div class="pfp mb-2 mt-4" style="z-index: 1">
                                    <img src={{ user_pfp_url }} onerror="this.src='../static/default_pfp.jpg'"
                                         class="pfp img-fluid img-thumbnail" style="z-index: -1">
                                </div>

                                {% if user == current_user %}
                                    <button type="button" class="btn" data-mdb-ripple-color="dark"
                                            style="z-index: 1; color:black; background-color: #ffc107;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editProfileModal">
                                        Edit your profile
                                    </button>
                                    <div class="modal fade" id="editProfileModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"
                                                        style="color: black;">Edit Profile</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form class="row g-3" method="post" enctype="multipart/form-data">
                                                    {{ profile_form.csrf_token }}
                                                    <div class="modal-body">
                                                        {{ profile_form.hidden_tag() }}
                                                        <div class="col-12">
                                                            {{ profile_form.first_name.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                            {{ profile_form.first_name(class="form-control") }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ profile_form.last_name.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                            {{ profile_form.last_name(class="form-control") }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ profile_form.username.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                            {{ profile_form.username(class="form-control") }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ profile_form.headline.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                            {{ profile_form.headline(class="form-control", maxlength="250") }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ profile_form.about_me.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                            {{ profile_form.about_me(class="form-control", maxlength="1000") }}
                                                        </div>
                                                        <div class="col-12 mt-2"
                                                             style="color: black; margin-bottom: -10px;">
                                                            {{ profile_form.profile_pic.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                            {{ profile_form.profile_pic(class="form-control") }}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        {{ profile_form.submit(class="btn btn-theme") }}
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% elif seller_account.value == '1' %}
                                    {% if current_user.is_authenticated %}
                                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                                style="z-index: 1; color:white; background-color: #212529;"
                                                data-bs-toggle="modal"
                                                data-bs-target="#requestReviewModal">
                                            Request Review
                                        </button>
                                        <div class="modal fade" id="requestReviewModal" tabindex="-1"
                                             aria-labelledby="reviewRequestModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="reviewRequestModalLabel"
                                                            style="color: white;>Request a Review</h5>
                                                        <button type=" button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                    </div>
                                                    <form class="row g-3" method="post" enctype="multipart/form-data">
                                                        <div class="modal-body">
                                                            {{ review_form.hidden_tag() }}
                                                            <div class="col-12">
                                                                {{ review_form.document.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                                {{ review_form.document(class="form-control") }}
                                                            </div>
                                                            <div class="col-12 mt-2"
                                                                 style="color: black; margin-bottom: -10px;">
                                                                {{ review_form.requests.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                                                                {{ review_form.requests(class="form-control", maxlength="1000") }}
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            {{ review_form.submit(class="btn btn-theme") }}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <a class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                           style="z-index: 1; color:white; background-color: #212529;"
                                           href="{{ url_for('auth.login') }}">
                                            Request Review
                                        </a>
                                    {% endif %}
                                {% endif %}

                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                {% if seller_account.value == '1' %}
                                    <p>{{ user.headline }} • <span style="height: 1.5em"
                                                                   class="badge bg-warning text-dark">Reviewer</span>
                                    </p>
                                {% else %}
                                    <p>{{ user.headline }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                {% if show_last_seen.value == '1' %}
                                    <div class="px-3">
                                        <p class="mb-1 h6">{{ last_seen }}</p>
                                        <p class="small text-muted mb-0">Last Seen</p>
                                    </div>
                                {% endif %}
                                {% if show_join_date.value == '1' %}
                                    <div>
                                        <p class="mb-1 h6">{{ moment(user.joined).fromNow() }}</p>
                                        <p class="small text-muted mb-0">Member Since</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            {% if user.about_me %}
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p>{{ user.about_me }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

