{% extends "base.html" %}
{% block content %}
    <div class="container m-4">
        <h2>
            Documents
        </h2>
        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                data-bs-toggle="modal" data-bs-target="#uploadDocModal">
            Upload
        </button>
        <a href={{ url_for('general.user_files', username=current_user.username, filter='my-files') }}>My Files</a>
        <a href={{ url_for('general.user_files', username=current_user.username, filter='shared') }}>Shared Files</a>
        <a href={{ url_for('general.user_files', username=current_user.username, filter='archive') }}>Archived Files</a>
    </div>
    <div class="container">
        <table id="fileTable" class="table table-sm table-hover">
            <thead>
            <tr>
                <th class="th-sm" scope="col">Name</th>
                <th class="th-sm" scope="col">Owner</th>
                <th class="th-sm" scope="col">Last Modified</th>
            </tr>
            </thead>
            <tbody>
            {% for file in file_list %}
                <tr>
                    <th scope="row"><a class="btn" href={{ url_for('general.document', user_id = file['owner_id'],
                    filename=file['filename']) }}>{{ file['filename'] }}</a></th>
                    <td class="align-middle">{{ file['owner'] }}</td>
                    <td class="align-middle">{{ file['last_modified'] }}</td>
                    <form method="post" action="{{ url_for('general.delete', file_id=file['file_id'], delete_or_archive="arch") }}">
                        <td class="align-middle"><input class="btn" type="submit" name="archive" value="Archive"></td>
                    </form>
                    <form method="post" action="{{ url_for('general.delete', file_id=file['file_id'], delete_or_archive="del") }}">
                        <td class="align-middle"><input class="btn" type="submit" name="delete" value="Delete"></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="uploadDocModal" tabindex="-1" aria-labelledby="uploadDocLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadDocLabel" style="color: black;">Upload Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="modal-body">
                        {{ form.hidden_tag() }}
                        <div class="col-12">
                            {{ form.filename.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                            {{ form.filename(class="form-control", id="filename") }}
                        </div>
                        <div class="col-12 mt-2" style="color: black; margin-bottom: -10px;">
                            {{ form.document.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                            {{ form.document(class="form-control", onchange="$('#filename').val($(this).val().slice(12));") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
