{% extends "base.html" %}
{% block content %}
    {% for error_type in form.errors %}
        {% for error in form.errors[error_type] %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                     aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container mb-4">
        <div class="d-flex flex-row align-items-center" style="justify-content: space-between; margin-bottom: 50px;">
            <div class="medium-title">Documents</div>
            {% if filter == 'my-files' %}
                <div>
                    <div class="d-flex align-items-center">
                        {% if (file_list|length)/5 <= 0.5 %}
                            <div class="fw-bold me-4 green-text" style="font-size: 18px;">{{ file_list|length }}/5 Files Stored</div>
                        {% elif (file_list|length)/5 <= 0.8 %}
                            <div class="fw-bold me-4 orange-text" style="font-size: 18px;">{{ file_list|length }}/5 Files Stored</div>
                        {% else %}
                            <div class="fw-bold me-4 red-text" style="font-size: 18px;">{{ file_list|length }}/5 Files Stored</div>
                        {% endif %}
                        <div class="progress me-auto"
                             style="height: 20px; border-radius: 25px; width: 35vw; background-color: #cecece;">
                            <div class="progress-bar" role="progressbar" style="width: {{ 100*(file_list|length)/5 }}%;"
                                 aria-valuenow="{{ 100*(file_list|length)/5 }};" aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {% if file_list|length < 5 %}
                        <button type="button" class="btn btn-theme big-btn" data-mdb-ripple-color="dark"
                                data-bs-toggle="modal" data-bs-target="#uploadDocModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                <path fill-rule="evenodd"
                                      d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                            Upload File
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-theme big-btn" data-mdb-ripple-color="dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                <path fill-rule="evenodd"
                                      d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                            Upload File
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="small-title">
            {{ filter.replace("-", " ").title() }}
        </div>

    </div>
    <div class="container">
        <table id="fileTable" class="table table-hover" style="border-width: 0;">
            <thead style="border-width: 0;">
            <tr>
                <th class="th-sm text-muted" style="padding-left: 0;" scope="col">Name</th>
                <th class="th-sm text-muted" scope="col">Owner</th>
                <th class="th-sm text-muted" scope="col">Last Modified</th>
            </tr>
            </thead>
            <tbody style="border-width: 0px">
            {% for file in file_list %}
                <tr>
                    <th scope="row">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#d01313"
                             class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                        </svg>
                        <a class="btn pt-3 pb-3" href={{ url_for('general.document', user_id = file['owner_id'],
                    filename=file['filename']) }}>{{ file['filename'] }}</a>
                    </th>
                    <td class="align-middle">{{ file['owner'] }}</td>
                    <td class="align-middle">{{ moment(file['last_modified']).calendar() }}</td>
                    <form method="post"
                          action="{{ url_for('general.delete_file', file_id=file['file_id'], delete_or_archive="arch") }}">
                        <td class="align-middle"><input class="btn" type="submit" name="archive" value="Archive"></td>
                    </form>
                    <form method="post"
                          action="{{ url_for('general.delete_file', file_id=file['file_id'], delete_or_archive="del") }}">
                        <td class="align-middle"><input class="btn" type="submit" name="delete" value="Delete"></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="uploadDocModal" tabindex="-1" aria-labelledby="uploadDocLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadDocLabel" style="color: black;">Upload Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="modal-body">
                        {{ form.hidden_tag() }}
                        <div class="col-12">
                            {{ form.filename.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                            {{ form.filename(class="form-control", id="filename") }}
                        </div>
                        <div class="col-12 mt-2" style="color: black; margin-bottom: -10px;">
                            {{ form.document.label(class="form-label", style="color: black; margin: 5px 0px -5px 0px;") }}
                            {{ form.document(class="form-control", onchange="$('#filename').val($(this).val().slice(12));") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class="btn btn-theme") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
